<style>
	   @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
	   body {
			background-color: blue;
		    }
	  
	h1, h2{
		   font-family: 'Open Sans', sans-serif; 
		   color: red;
		   text-align: center;
		   background-color: green;
	      }
	  
		   .poza {
		   width: 400px;
		   height: 300px;
	       margin-left: 50px;
		    }			
		
		
</style>